{% extends "base.html" %}
 
 {% block title %} {{user.username}} {% endblock %}
 
{% block extra-head %} 
  {% load static %}
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block content  %}

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Centro Mail</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url "articles:index" %}"> Inici </a></li>
            <li><a href="#"> Recomanats </a></li>
            <li><a href="#"> Últims </a></li>
            <li><a href="#"> Contacte </a></li>
          </ul>
          <div id="user">
                <ul class="nav navbar-nav">
                      <div class="btn-group">
                        <div type="button" class="btn dropdown-toggle"data-toggle="dropdown"><p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{user}}</p> </div>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{% url "usuaris:menu_usuari" %}">El teu menu</a></li>
                          <li><a href="{% url "usuaris:modificar_perfil" %}">Modificar perfil</a></li>
                          <li class="divider"></li>
                          <li><a href="{% url "usuaris:logout" %}">Logout</a></li>
                        </ul>
                      </div>
                </ul>
          </div>
           <div id="user">
            </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="contingut-usr">
      <div class="container-fluid">
        <div class="right"><a id="comprar" href='{% url "usuaris:view_that_asks_for_money" carritu.pk %}' class="list-group-item"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar carro: {{carritu.preu_total}} €</a></div>
      </div>
              {% for articles in comandes %}
                 <div class="container-fluid">
                    <div class="row"> <!-- Give this div your desired background color -->
                        <div class="container">
                          <div class="row">
                             <div class="remove"><a class="editting" href="{% url "usuaris:eliminar_comanda" articles.pk %}"><small><span class="glyphicon glyphicon-remove" title="Esborrar disc" ></span></small></a></div>
                              <div class="col-md-12 laimatge">
                                <center><a href="{% url "articles:article" articles.article.pk %}"><img src="{% if articles.article.imatge %}{{ articles.article.imatge.url }}{% endif%}" class="img-responsive hr" ></a></center>
                              </div>
                              <div class="col-md-12 informacio">
                                    <ul class="list-group">
                                      <li class="list-group-item"><div class="row"><h3><center><u> {{ articles.article.nom }} </u></h3></center></div></li>
                                      <li class="list-group-item"><div class="row"><div class="pull-left meitatG"><h5> Consola: {{ articles.article.consola }} </h5> <h5>Companyia: {{ articles.article.companyia }} </h5></div><div><div class="pull-right meitatP" id="preu1"><h2>{{ articles.article.preu }} € </h2></div></div></div></li>  
                                      <li class="list-group-item"><div class="row"><div class="dreta">Detalls: {{ articles.article.detalls }}</div></div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 {% endfor %} 

            
            <!-- Modal borrar-->
            <div id="myModalB" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Esteu segurs que vols esborrar aquest disc?</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                              <p>Si esborreu aquest disc desapereixarà del vostre cataleg, i no podrà ser comprat</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">No, no esborris</button>
                            <button type="button" class="pesao btn btn-success">Sí, esborra el disc</button>
                        </div>
                        <div class="modal-footer amagat">
                            <p>Si us plau,ens seria molt útil saber perque esborres aquest disc. Si l'has venut, la venta pot millorar la teva imatge davant les properes transaccions</p>
                            <form action="#">
                              <input type="radio" name="estat" value="venut" checked="checked"> He venut aquest disc<br>
                              <input type="radio" name="estat" value="borrat"> Ja no el vull vendre<br>
                              <button class="OK" type="button" data-dismiss="modal" >OK</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            </div>
    </div>

{% endblock %}

