{% extends "base.html" %}
 
 {% block title %} PAGAMENT {% endblock %}
 
{% block extra-head %} 
  {% load static %}
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block content  %}

    <!-- Fixed navbar -->
<div class="container">

<!--INFORMACIÓ DEL VINIL -->
<div class="container theme-showcase info-usr" role="main">
  <center>
    <div id="contingut-reco">
     <div class="container-fluid">
                    <div class="row"> <!-- Give this div your desired background color -->
                        <div class="container1">
                            <div class="desc">
                                <div id="content-login">
                                    <h2 style="color:red">PREU:{{carretilla.preu_total}}</h2>
                                    <p style="color:red">ACCEDEIX A PAYPAL</p>
                                    {{form.render}}
                                </div>
                                <a href="{% url "usuaris:pagat" carretilla.pk %}" >Compte Comptable</a>
                            </div>
                          </div>
                    </div>
    </div>
    </div>
    </center>
</div>

{% endblock %}






